<!-- eslint-disable prettier/prettier -->

<mat-pane class="card" appearance="outlined">
  <!-- Card Header Row (Logo, Name, Members) -->
  <mat-card-header class="header">
    <!-- Container for Logo and Name to allow for left alignment -->
    <div class="left-container">
      <!-- Organization Logo -->
      <img mat-card-image src="{{ organization.logo }}" class="logo" />
      <!-- Organization Name -->
      <mat-card-title
        class="name"
        [matTooltip]="organization.name"
        matTooltipPosition="above"
        [matTooltipDisabled]="organization.name.length < 25">
        {{ organization.name.length < 25 ? organization.name :
        organization.shorthand }}
      </mat-card-title>
    </div>
  </mat-card-header>

  <!-- Organization Description -->
  <mat-card-content class="description">
    <p>
      {{ organization.short_description }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <a
    class="details-link"
    [routerLink]="['/organizations', organization.slug]">
    <button mat-flat-button>Details</button>
  </a>
  
  @if (organization.website !== '') {
    <social-media-icon id="events-button" [fontIcon]="'link'" [href]="organization.website" />
  }

  @if (!organization.open_status) {
    <mat-chip>Closed</mat-chip>
  } @else if (organization.needs_application) {
    <a [routerLink]="['/organizations', organization.slug, 'apply']">
      <mat-chip>Apply</mat-chip>
    </a>
  } @else if (organization.public) {
    <a [href]="organization.heel_life" target="_blank" rel="noopener">
      <mat-chip>Open</mat-chip>
    </a>
  }

  
  <!-- <button mat-icon-button class="mat-csxl-stroked-icon-button" id="events-button" color="basic">
    <mat-icon>event</mat-icon>
  </button> -->


 



  </mat-card-actions>
</mat-pane>
